.contact-section{
    padding: 160px 0;
    background-color: #f1f1f1;
    margin-bottom: 0;
    h1,h2,h3{
        margin-bottom: 30px;
        text-align: center;
        @include center;
        flex-wrap: wrap;
        button{
            color: var(--primary-color);
            position: relative;
            margin: 10px;
            &::after{
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 100%;
                height: 2px;
                transform: scaleX(0);
                transition: all 0.3s;
            }
            &:hover{
                &::after{
                    background-color: var(--primary-color);
                    transform: scaleX(1);
                }
            }
        }
    }
    
    form.contact-form{
        width: 100%;
        @include center;
        padding: 20px 0;
        .row{
            width: 100%;
            .col-12{
                @include column-center;
                justify-content: flex-start;
                margin-bottom: 20px;
            }
        }
        .form-row{
            width: 100%;
            @include column-center;
            align-items: flex-start;
            margin-bottom: 20px;
            &:last-child{margin-bottom: 0;}
            label{
                margin-bottom: 7px;
            }
            input{
                min-height: 50px;
            }
            .form-control{
                width: 100%;
                background-color: #dddddd;
                border: none;
                box-shadow: none;
                &:hover{
                    border: none;
                    box-shadow: none;
                }
            }
            &.message{
                align-self: stretch;
                margin-bottom: 0;
                height: 100%;
                position: relative;
                textarea{
                    min-height: 200px;
                    height: 100%;
                    align-self: stretch;
                    height: 100%;
                    padding-bottom: 40px;
                    resize: none;
                }
                .send-button{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: 20px;
                    font-size: 20px;
                    color: var(--primary-color);
                    background-color: #dddddd;
                    span{
                        margin-right: 10px;
                        transform: translateX(40px);
                        opacity: 0;
                        font-size: 16px;
                    }
                    &:hover{
                        span{
                            transform: translateX(0);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .sosial-icons{
        @include center;
        a, button{
            @include center;
            font-size: 20px;
            padding: 15px;
            color: #3c3c3c;
            &:hover{
                color: var(--primary-color);
            }
        }
    }
}

.contact-map-offcanvas{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -150%;
    left: 0;
    z-index: 999;
    opacity: 0;
    &.active{
        top: 0;
        opacity: 1;
    }
    .offcanvas-body{
        padding: 0;
    }
    .map-close-button{
        position: absolute;
        top: 25px;
        right: 25px;
        min-width: 120px;
        padding: 15px;
        border-radius: 10px;
        background-color: var(--primary-color);
        color: #fff;
        font-size: 18px;
        z-index: 99;
        &:hover{
            background-color: #3c3c3c;
        }
    }
    .map{
        @include center;
        width: 100%;
        height: 100%;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}