.basket-offcanvas{
    background-color: #f1f1f1;
    width: 100%;
    max-width: 550px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999;
    padding: 20px;
    opacity: 0;
    &.active{
        left: 0;
        opacity: 1;
    }
    .header{
        @include s-between;
        padding-bottom: 0;
        margin-bottom: 30px;
        span{
            font-size: 24px
        }
    }
    .body{
        @include column-center;
        justify-content: flex-start;
        overflow: auto;
    }
    .basket-form{
        width: 100%;
        @include column-center;
        margin-bottom: 30px;
        input.form-control{
            width: 100%;
            margin-bottom: 15px;
            box-shadow: none;
            &:focus{
                border-color: var(--primary-color);
            }
        }
        .submit-button{
            width: 100%;
            padding: 15px;
            background-color: var(--primary-color);
            color: #fff;
            font-weight: 500;
            &:hover{
                background-color: #198754;
            }
        }
    }
    .basket-product-table{
        width: 100%;
        min-height: 200px;
        @include column-center;
        justify-content: space-between;
        padding: 10px 0;
        .products-wrapper{
            width: 100%;
            @include column-center;
            .product{
                width: 100%;
                @include s-between;
                padding: 10px 0;
                border-bottom: 1px solid rgba(0,0,0,0.1);
                .left{
                    @include center;
                }
                .info{
                    padding-right: 15px;
                    @include column-center;
                    align-items: flex-start;
                }
                .image{
                    width: 80px;
                    height: 80px;
                    margin-right: 10px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .product-delete-button{
                    font-size: 20px;
                    &:hover{
                        color: var(--primary-color);
                    }
                }
            }
        }
        .empty-text{
            align-self: flex-start;
        }
        .basket-result{
            width: 100%;
            @include s-between;
            padding: 15px 0;
            //border-top: 1px solid rgba(0,0,0,0.1);
        }
    }
    
}