.products-section{
    padding: 30px 0;
    h1,h2,h3{
        margin-top: 20px;
        margin-bottom: 40px;
        text-align: center;
    }
    .row{
        width: 100%;
        .col-12{
            padding: 0;
            @include center;
        }
    }
    .products-navbar{
        width: 100%;
        @include s-between;
        margin-bottom: 30px;
        .left{
            @include center;
        }
        .right{
            @include center;
            button{
                font-size: 30px;
                color: var(--primary-color);
                &.products-prev-button{
                    margin-right: 20px;
                }
            }
        }
    }
}

