.menu-button{
    font-size: 24px;
    color: #fff;
    border: 3px solid transparent;
    padding: 12px;
    border-radius: 5px;
    &:hover{
        border-radius: 50%;
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
    &.second{
        color: #000;
        font-size: 26px;
        padding: 0;
        padding-right: 20px;
        position: relative;
        border: none;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background-color: rgba(0,0,0,0.2);
        }
    }
}
@media only screen and (min-width: 576px){
    .menu-button{
        font-size: 28px;
        padding: 15px;
    }
}
@media only screen and (min-width: 768px){
    .menu-button{
        font-size: 34px;
    }
}