.header-time-counter{
    width: 100%;
    height: 100%;
    padding: 10px;
    @include column-center;
    .container{
        @include column-center;
    }
    h1, h2, h3{
        margin-bottom: 30px;
        color: #fff;
        text-align: center;
        opacity: 0;
        transform: translateY(-50px);
        animation: title-animation 1s ease forwards;
    }    
}
@keyframes title-animation{
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes date-item-animation{
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
